
.player-wrapper {
    position: relative;
    /* padding-top: 56.25%  */
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }


#main-container {
    max-width: 1280px;
    margin: auto;
}

.main {
    display: flex;
    text-align: center;
    /* align-self: center; */
}


/* .estore{
    width: 60%;
    display: inline;
    margin-bottom: 2%;
    
} */

.category {
    /* align-items: center; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: white; */
    /* margin-bottom: 10%; */
}

.categoryStyle {
    /* background: linear-gradient(.35turn, #1313b3 10%, red); */
    border-radius: 50px;
    color: #000;
    margin-top: 5%;
    /* margin: 20px; */
    /* padding: 25px 0; */
}

.categorybackStyle {
    /* background: linear-gradient(.35turn, #1313b3 10%, red); */
    background-color: #fff;
}

.category .slick-slider {
    width: 90vw;
}


/* .row1{
    width: 101%;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    margin-bottom: 1%;
}
.row{
    width: 101%;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    margin-bottom: 5%;
} */

.card1 {
    justify-content: center;
    display: flex;
    width: 12em;
    height: 100%;
    align-items: center;
    /* border-radius: 50%; */
    /* margin-bottom: 1%; */
    border: 0.01px solid #CCCCCC;
    margin: 3px;
    /* box-shadow: 0px 3px 7px rgb(0 0 0 / 0.2) ; */
}
.sliderTop{
    margin-top: 85px;
}
.name1 {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    background: #CCCCCC;
    padding: 5px 20px;
    margin: 1px;
}

.subname {
    opacity: 0.8;
    font-size: 11px;
    font-weight: bold;
}

.border {
    /* height: 100%;
    width: 97%; */
    /* display:flex ; */
    align-items: center;
    /* justify-content: center; */
    /* align-content: center; */
    border-radius: 12px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 0px 0px 1px grey;
    margin: 3px;
}



.btn {
    margin-top: 5% !important;
    border-radius: 20px !important;
    height: 28px;
}

#btns {
    display: none;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {

    .categoryStyle {
     /* height: 290px;
     width: 250px; */
     /* margin: 20px auto; */
     color: black;
     background: none;
     margin-top: 10%;
    }

    .categorybackStyle {
        background: none;
    }
    .category .slick-slider {
       width: 135vw;
       padding: 10px;
    }
    /* .estore{ */
    /* position: absolute; */
    /* width: 60%; */
    /* display: inline; */
    /* margin-bottom: 12%;  */
    /* width: 90%;
        text-align: center;
        align-items: center; */
    /* margin-left: 75px; */
    /* } */
    .main {
        /* display: inline-block !important; */
        /* text-align: none !important; */
    }
    .sliderTop{
        /* margin-top: 0px; */
    }
    .category {
        /* border: 1px solid blueviolet; */
    }

    .row {
        width: 100% !important;
        display: flex;
        flex-wrap: wrap;
        /* border: 1px solid red; */
        /* flex-direction: row; */
        /* justify-content:center ; */
        /* margin-bottom: 25%  !important; */
        /* margin-right: 15px; */
        /* margin-left: 5.5% !important; */
        /* margin-top: 10%; */
        /* justify-items: center; */
        /* text-align: center; */
    }

    .row1 {
        width: 100% !important;
        display: flex;
        flex-wrap: wrap;
        /* border: 1px solid red; */
        /* flex-direction: row; */
        /* justify-content:center ; */
        /* margin-bottom: 25%  !important; */
        /* margin-right: 15px; */
        /* margin-left: 5.5% !important; */
        /* margin-top: 10%; */
    }

    .card1 {
        justify-content: center;
        /* display: inline-block; */
        /* align-items: flex-end; */
        width: 45% !important;
        /* height: 100%; */
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 2.5%;
        margin-right: 2.5%;
        align-items: center;
        /* background-color: white; */
        /* border-radius:20px ; */
        box-shadow: none !important;
    }

    .subname {
        display: none;
    }

    .border>img {
        /* margin-top: 20%; */
        /* width: 40%; */
    }

    .border {
        /* height: auto; */
        /* width: 150%; */
        /* display:inline-block ; */
        /* align-self: center; */
        /* justify-content: center; */
        /* border-radius:5px ; */
    }

    .name1 {
        font-size: 11px;
        font-weight: bold;
    }

    /* .subname{
        opacity: 0.8;
        font-size: small;
    } */
    .btn {
        margin-top: 5% !important;
        border-radius: 20px !important;
        height: 24px !important;
        /* width: 20% !important; */
        /* font-size: 10px !important; */
    }

    #btns {
        display: inline-block;
        /* margin: 0;
         */
        /* border: 1px solid green; */
        /* margin-right: 45%; */
    }
}




@media only screen and (max-width: 700px)  {

    .sliderTop{
        margin-top: 10px;
    }
}

@media only screen and (max-width: 599px)  {

    .sliderTop{
        margin-top: 1px;
    }
}

@media only screen and (min-width: 701px) and (max-width: 960px)  {

    .sliderTop{
        margin-top: 76px;
    }
}