.texts1 {
    opacity: 0.9;
    font-size: 17px;
    text-align: left;
    margin-left: 4.5%;
}

.texts2 {
    text-align: left;
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 5%;
    /* margin-right: 5%; */
    font-weight: bold;
    font-size: 12px;
    /* color: rgb(68, 190, 238); */
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
}

.rates {
    display: flex;
    font-size: 16px;
    margin-left: 5%;
    margin-bottom: 10%;
    font-family: sans-serif;
    color: red;
    font-weight: "bold";
    /* margin-right: 5%; */
}


/* .ratesATCBTN{
    margin-left: 10% !important;
    background-color:red !important;
    width: auto !important;
    color: #e7e3e1 !important;
    font-size: 9px !important;
} */

.btns {
    display: flex;
    height: 10%;
    align-self: center;
    margin-left: auto !important;
}

.btnfs {
    /* display: flex; */
    height: 10% !important;
    /* align-self: center; */
    /* margin-left: auto !important; */
    text-align: center;
}

.catdraw {
    width: 25%;
    /* border: 1px solid; */
    display: block;
    text-align: left;
    /* margin-left: 2%; */
    /* background-color: #f5f5f5; */
    /* background: linear-gradient(276deg, #2c77ff, #a53691); */
    background: red;
    margin-right: 2% !important;
    border-radius: 15px;
    color: white;
}

.catdraw h1 {
    margin-bottom: 5%;
    font-weight: 400;
}

.catdraw span {
    font-size: 20px;
    opacity: 0.8;
    display: block;
    padding: 6px;
}

.catdraw .Mui-selected {
    background-color: #000 !important;
}

.catdata {
    /* border: 1px solid; */
    width: 100%;
    justify-content: center;
}


/* .pbtn{
    border: none !important;
    background: none;
    cursor: pointer;
} */


/* .css-ahj2mt-MuiTypography-root { */


/* margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400; */


/* font-size: 14px; */


/* line-height: 1.5;
    letter-spacing: 0.00938em; */


/* } */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .catdraw {
        display: none;
    }
    /* .catdata{ */
    /* justify-items: center !important; */
    /* left: 10%; */
    /* margin-top: 10px; */
    /* border: 1px solid aqua; */
    /* } */
    /* .pbtn{
        border: none !important;
        background: none;
        cursor: pointer;
    } */
}