.flink {
  display: block;
  /* border: 1px solid; */
  /* width: 200px !important; */
  text-align: left;
  /* border: 1px solid green; */
  /* justify-content: space-evenly; */
  margin: 0% 0% 0% -10%;
  /* margin-left: 20%; */
  /* margin-right:5% ; */
}

.containerfoot {
  /* display: inline-block; */
  /* border: 1px solid green; */
  /* justify-content: space-between !important; */
  /* position: sticky;
    top: 100%; */
  /* bottom: 0%; */
  width: 100%;
  text-align: center;
  position: relative;
  top: 100%;
  color: white;

  /* align-items: center;
    align-self: center; */
}

.container-foot {
  display: flex;
  /* border: 1px solid green; */
  justify-content: space-evenly !important;
  width: 100%;
  /* background: #290a5e ; */
  background: #0772ba;
  padding-top: 30px;
  padding-bottom: 30px;
}
.mui {
  display: flow-root !important;
}
.container-foot-div {
  text-align: -webkit-center;
  /* border: 1px solid red; */
  flex-direction: column;
  display: flex;
  justify-content: center;

  /* margin: 0% 10% 0% -8% */
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .flink {
    display: none;
  }
}
