@import url("https://fonts.cdnfonts.com/css/gill-sans");

.container {
  width: auto;
}

.load-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

#root {
  font-family: "Gill Sans", sans-serif;
}

.App {
  font-family: "Gill Sans", sans-serif;
}

/* .video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
} */
